@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 30px;
    color: hsl(229, 6%, 66%);
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

.container h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.container p {
    max-width: 500px;
    font-size: 0.8rem;
    margin: 1rem auto 0;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}

.box {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    text-align: right;
    box-shadow: 0 0 14px 1px #00000033;
}

.box-text {
    text-align: left;
}

.box-text h5 {
    font-size: 1rem;
    color:black;
}

.box-text p {
    margin: 0.5rem auto 1.5rem;
    font-size: 0.6rem;
}

.box img {
    transform: scale(0.7, 0.7);
}

.box1 {
    grid-area: 2/ 1/ span 2/ span 1;
    border-top: 4px solid hsl(180, 62%, 55%);
}

.box2 {
    grid-area: 1/ 2/ span 2/ span 1;
    border-top: 4px solid hsl(0, 78%, 62%);
}

.box3 {
    grid-area: 3/ 2/ span 2/ span 1;
    border-top: 4px solid hsl(34, 97%, 64%);
}

.box4 {
    grid-area: 2/ 3/ span 2/ span 1;
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media only screen and (max-width: 425px) {
    section {
        grid-template-columns: 1fr;
    }
    .box1 {
        grid-area: auto;
    }
    .box2 {
        grid-area: auto;
    }
    .box3 {
        grid-area: auto;
    }
    .box4 {
        grid-area: auto;
    }
}